[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[user]
    name = Devon Fulcher
    email = devonfulcher3@gmail.com
[branch]
    # Show most recently changed branches first.
    sort = -committerdate
#[commit]
    # https://help.github.com/articles/signing-commits-using-gpg/
    # https://withblue.ink/2020/05/17/how-and-why-to-sign-git-commits.html
    #gpgsign = true
[diff]
    # Detect copies as well as renames.
    renames = copies
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[pull]
    ff = only
[alias]
    save = "!f() { sh ~/scripts/git_save.sh \"$1\"; }; f"
    pr = "!f() { gh pr view --web || gh pr create --web; }; f"
    difft = "!f() { GIT_EXTERNAL_DIFF=difft git diff; }; f"
    browse = "!f() { gh browse --branch $(git branch --show-current) ${1:-.}; }; f"
