[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    name = Devon Fulcher
    email = devonfulcher3@gmail.com
[branch]
    # Show most recently changed branches first.
    sort = -committerdate
#[commit]
    # https://help.github.com/articles/signing-commits-using-gpg/
    # https://withblue.ink/2020/05/17/how-and-why-to-sign-git-commits.html
    #gpgsign = true
[diff]
    # Detect copies as well as renames.
    renames = copies
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[pull]
    ff = only
[alias]
    save = "!f() { git add -A && git commit -m \"$1\" && git push; }; f"
