# This is already a part of Mackup but it hasn't been released yet
# https://github.com/lra/mackup/pull/2020
# https://github.com/lra/mackup/issues/2039
[application]
name = Cursor

[configuration_files]
Library/Application Support/Cursor/User/snippets
Library/Application Support/Cursor/User/keybindings.json
Library/Application Support/Cursor/User/settings.json
.cursor/commands
.cursor/hooks.json
.cursor/hooks

[xdg_configuration_files]
Cursor/User/snippets
Cursor/User/keybindings.json
Cursor/User/settings.json
